/* 
    Document   : style
    Created on : 22-Mar-2013, 12:39:53 PM
    Author     : David
    Description:
        Purpose of the stylesheet follows.
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300);
.custom-chevron {
    width: 300px;
    height: 67px;
    position: relative;
    z-index: 1;
}
.custom-chevron:after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-top-width: 30px;
	border-top-style: solid;
}
.chevron-text, .laptop-chevron, .mobile-chevron {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: block;
    height: 90px;
    color: #FFF;
    position: relative;
    z-index:10;
    font-weight: 800;
    line-height: 22px;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
}
.chevron-text a, .chevron-text a:hover, .chevron-text a:focus, .chevron-text a:visited, .laptop-chevron a, .mobile-chevron a {
    color: #fff;
    text-decoration: none;
}
.dept-brand {
    height: 67px;
    position: relative;
}
.row-fluid:before, .row-fluid:after {
display: table;
line-height: 0;
content: "";
}


@media screen and (max-width: 767px) {
	.js ul.ui-tabs-nav {
		width: auto;
		display: block;
		position: relative;
		float: none;
		border-right: 1px solid #CCC;
	}
	.js .ui-tabs-panel {
		width: auto;
	}
	.js .ui-tabs-panel img {
		max-width: 100%;
		height: auto;
	}
	#layout-options .option-radio, #clf-theme .layout {
		float: none!important;
		margin-bottom: 15px;
	}
}
#education-unit-colour-box .education-colour-item > span {
	display: inline-block;
	width: 110px;
	height: 20px;
	overflow: visible;
	position: relative;	
}
.wp-picker-container {
	position: relative;	
}

.main-color .wp-picker-holder {
	position: relative;
/*	margin-top: -40px;
	margin-left: -384px;
*/
	z-index: 10;
}
.secondary-color .wp-picker-holder {
	position: relative;
/*	margin-top: -40px;
	margin-left: -384px;
*/
}

#education-unit-colour-box .ubc-collab-textarea, #education-unit-colour-box .ubc-collab-text-input, .educ-half {
	width: 45%;
}
.educ-one-third {
	width: 30%;
	float: left;
}
#education-unit-colour-box .wp-picker-container .iris-picker {
	margin-left: 120px;
}
#education-apply-now-box input:text {
 width: 50%;
}
.wp-picker-container {
	z-index: 1;
	position: relative!important;
}
/* Education Brand */
.brand-img-upload, .chevron-container {
	margin-bottom: 25px;
}
.chevron-container input{
	width: 50px;
	text-align: center;
}
.brand-img-upload, .brand-img-upload span, .brand-img-upload .button, .brand-img-upload .ubc-collab-text-input, #lighter-colour {
	display: block;
	clear: both;
}
.educ-clearfix:before,
.educ-clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.educ-clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.educ-clearfix{
    *zoom: 1;
}
.brand-img-upload .ubc-collab-text-input {
	width: 55%;
}
.brand-img-upload .button {
	margin: 6px 0;	
}
.education-img-field-preview {
	margin-top: 15px;
}
.brand-img-upload img {
height: auto;
width: 100%;
max-width: 55%;
vertical-align: middle;
border: 0px none;
}
.banner-options .banner-input {
	width: 45%;
	float: left;
}
.banner-options .banner-input input[type="text"] {
	display: inline;
	width: 30%;
	min-width: 30%;
}